body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.scene {
  position: relative;
}

.canvas {
  position: absolute;
  z-index: 0;
}

.canvas-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  /*background-color: magenta;*/
  pointer-events: none;
}